In [1]:
import pandas as pd

In [3]:
data_file_path= '../data/raw/sms_spam_dataset/SMSSpamCollection.tsv'
df = pd.read_csv(data_file_path, sep="\t", header=None, names=["Label", "Text"])

In [4]:
df.head()

  Label                                               Text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df.to_csv('../data/processed/sms_spam_dataset/sms_spam_ham_data.csv', index=False)