In [1]:
import pandas as pd

In [2]:
train= pd.read_csv('../data/raw/emotions_dataset/train.txt', sep= ';', names = ['sentence', 'emotion'])
validation= pd.read_csv('../data/raw/emotions_dataset/val.txt', sep= ';',  names = ['sentence', 'emotion'])
test= pd.read_csv('../data/raw/emotions_dataset/test.txt', sep= ';',  names = ['sentence', 'emotion'])

In [3]:
train.head()

                                            sentence  emotion
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger

In [4]:
train['emotion'].value_counts()

emotion
joy         5362
sadness     4666
anger       2159
fear        1937
love        1304
surprise     572
Name: count, dtype: int64

In [5]:
validation['emotion'].value_counts()

emotion
joy         704
sadness     550
anger       275
fear        212
love        178
surprise     81
Name: count, dtype: int64

In [6]:
test['emotion'].value_counts()

emotion
joy         695
sadness     581
anger       275
fear        224
love        159
surprise     66
Name: count, dtype: int64

In [7]:
train= train[train['emotion']!='surprise']
validation= validation[validation['emotion']!='surprise']
test= test[test['emotion']!='surprise']

In [8]:
value_train= train['emotion'].value_counts()
value_train= pd.DataFrame(value_train)
value_train

         count
emotion
joy       5362
sadness   4666
anger     2159
fear      1937
love      1304

In [9]:
validation['emotion'].value_counts()

emotion
joy        704
sadness    550
anger      275
fear       212
love       178
Name: count, dtype: int64

In [10]:
test['emotion'].value_counts()

emotion
joy        695
sadness    581
anger      275
fear       224
love       159
Name: count, dtype: int64

In [11]:
train = train.groupby('emotion').apply(lambda x: x.sample(n=1000, random_state=42)).reset_index(drop=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_5628\3211624216.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  train = train.groupby('emotion').apply(lambda x: x.sample(n=1000, random_state=42)).reset_index(drop=True)

In [12]:
train['emotion'].value_counts()

emotion
anger      1000
fear       1000
joy        1000
love       1000
sadness    1000
Name: count, dtype: int64

In [13]:
train.to_csv("../data/processed/emotion_dataset/train_set.csv", index= None)
validation.to_csv("../data/processed/emotion_dataset/validation_set.csv", index= None)
test.to_csv("../data/processed/emotion_dataset/test_set.csv", index= None)

In [17]:

combined_data= pd.concat([train, validation, test], axis= 0)

In [18]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8853 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sentence  8853 non-null   object
 1   emotion   8853 non-null   object
dtypes: object(2)
memory usage: 207.5+ KB

In [ ]:
combined_data.to_csv('combined_emotions_data.csv', index= None)